*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-width: 74.375rem;
  --container-padding-x: 0.9375em;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto;
  color: #fff;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/*img {
  width: 100%;
}*/