.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 138px;
  gap: 13px;
}

.header__title {
  color: #161d25;
  font-weight: 700;
  font-size: 38px;
}

.header__paragraph {
  font-weight: 400;
  font-size: 22px;
  color: #5d7085;
}

.cards {
  margin: 67px 0 190px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 6px;

  list-style-type: none;
}

.cards__list-item {
  width: 266px;
  min-height: 601px;
  border-radius: 2px;
  padding: 31px 35px 36px;
}

.cards__list-blue {
  background-color: #3dacfc;
}

.cards__list-yellow {
  background-color: #e6c434;
}

.cards__list-grey {
  background-color: #939fb3;
}

.cards__list-green {
  background-color: #3dcad4;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 7px;
  list-style-type: none;
  list-style-position: inside;
}

.card__list-item::before {
  content: url("../images/V.png");
  margin-right: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.card__image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 157px;
}

.card__title {
  margin-top: 15px;
  font-weight: 500;
  font-size: 21px;
}

.card_paragraph {
  font-size: 12px;
  line-height: 1.33;
}

.card__price {
  display: flex;
  margin-top: 24px;
  font-weight: 700;
  font-size: 67px;
  letter-spacing: 0em;
}

.card__price::before {
  display: block;
  content: '$';
  font-weight: 500;
font-size: 16px;
line-height: 150%;
margin-bottom: 20xp;
color: #fff;
}

.card__list-item {
  font-weight: 500;
  font-size: 14px;
}

.card__bay {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: center;
  min-height: 40px;
  min-width: 196px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-top: auto;
}

.card__bay:hover{
  background-color: #fff;
  
}

.card__bay:hover .button__text{
  mix-blend-mode: difference;
}

.button__text—Ç {
  color: #fff;
}
