.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 138px;
}

.header__title {
  color: #161d25;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
}

.header__paragraph {
  color: #5d7085;
  font-weight: 400;
  font-size: 22px;
}

.cards {
  margin: 67px 0 190px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 6px;
  list-style-type: none;
  
}

.cards__list-item {
  position: relative;
  width: 266px;
  min-height: 601px;
  border-radius: 2px;
  padding: 31px 35px 36px;
  isolation: isolate;
  
}

.cards__list-blue {
  background: linear-gradient(#6bdfff, #3dacfc);
  --color-text: #3dacfc;
}

.cards__list-yellow {
  background: linear-gradient(#fdc624, #e6c434);
  --color-text: #e6c434;
}

.cards__list-grey {
  background: linear-gradient(#bfcedc, #939fb3);
  --color-text: #939fb3;
}

.cards__list-green {
  background: linear-gradient(#55dce7, #3dcad4);
  --color-text: #3dcad4;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 7px;
  list-style-position: inside;
  list-style-type: none;
}

.card__list-item::before {
  content: url("../images/V.png");
  margin-right: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.card__image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 157px;
}

.card__title {
  margin-top: 15px;
  font-weight: 500;
  font-size: 21px;
}

.card_paragraph {
  font-size: 12px;
  line-height: 1.33;
}

.card__price {
  display: flex;
  margin-top: 24px;
  font-weight: 700;
  font-size: 67px;
  letter-spacing: 0em;
}

.card__price::before {
  content: "$";
  display: block;
  margin-bottom: 20xp;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.card__list-item {
  font-weight: 500;
  font-size: 14px;
}

.card__bay {
  position: relative;
  min-width: 196px;
  min-height: 40px;
  margin-top: auto;
  border: 2px solid #fff;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  
}

.card__bay:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
 
 }



.button__text {
  position: relative;
  color: #fff;
  cursor: pointer;
 }

 .card__bay:hover .button__text {
   color: var(--color-text);
 }



.developer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-height: 31px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  background: linear-gradient(#63d6fe, #5dd4f8);
}

.developer::before {
  content: url("../images/star.png");
  width: 12px;
  height: 12px;
  margin-bottom: 5px;
}
